.headerTopWrap {
   display: flex;
   justify-content: space-between;
   /* 각각의 아이템 높이 정렬 */
   align-items: center;
   padding: 5px 14px;
}

.logo {
   font-size: 1.2rem;
   width: 25vw;
}

.logo a {
   color: #000;
   text-decoration: none;
 }

.search {
   /* vw : 폭 */
   width: 50vw;
}

.search input {
   /* padding을 넣어도 박스 사이즈 고정시키기 */
   box-sizing: border-box;
   background-color: #f5f5f5;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   width: 100%;
   height: 40px;
}

.cartIcon {
   width: 15vw;
 }

.qtyBadge {
   position: absolute;
   top: 0px;
   right: 30px;
   background-color: rgb(57, 57, 57);
   color: #fff;
   padding: 5px 10px;
   box-sizing: border-box;
   border-radius: 15px;
   font-size: 0.8rem;
 }