.headerTopWrap {
   width: 100%;
   background-color: #f6f5ef;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   padding: 0px;
   top: 0;
}

.logo {
   width: 40px;
   height: 40px;
   margin: 0px;
   padding: 0px;

}

.gnb ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.gnb ul li {
   list-style: none;
   padding: 5px 14px;
}

.gnb ul li a {
   text-decoration: none;
   color: black;
}