.productCard {
   width: 100%;
   margin-bottom: 50px;

}

.productCard img {
   width: 100%;
   border-radius: 5px;
   height: auto;
}

.title {
   font-size: 1.2rem;
   font-weight: bold;
   margin-top: 10px;
}


.cartBtn {
   width: 150px;
   background-color: #222222;
   border-radius: 5px;
   color: white;
   text-align: center;
   padding: 10px;
}